c promenljive su p0, p1, p2, p3, p4, itd.
c p1 == r0 xor s0 je kao p1 <=> r0 xor s0
c p <=> r xor s
c r xor s == (r && !s) || (s && !r)
c r xor s == (r || s) && (!r || !s)
c p => ((r || s) && (!r || !s))
c !p || ((r || s) && (!r || !s))
c (!p || r || s) && (!p || !r || !s)
c (r <=> s) || p
c ((!r || s) && (!s || r)) || p
c (!r || s || p) && (!s || r || p)

c p <=> r xor s
c (!p || r || s)
c (!p || !r || !s)
c (!r || s || p)
c (!s || r || p)


c bice ovako za p1, p2, p3, p4
c ostali su samo brdo ekvivalencija
c p0, p1, ..., p4 --> [1, 5]
c q0, q1, ..., q4 --> [6, 10]
c r0, r1, ..., r4 --> [11, 15]
c s0, s1, ..., s4 --> [16, 20]
c q4 <=> p3
c (!q4 || p3)
c (!p3 || q4)

p cnf 20 44
-2 11 16 0
-2 -11 -16 0
2 -11 16 0
2 11 -16 0
-3 12 17 0
-3 -12 -17 0
3 -12 17 0
3 12 -17 0
-4 13 18 0
-4 -13 -18 0
4 -13 18 0
4 13 -18 0
-5 14 19 0
-5 -14 -19 0
5 -14 19 0
5 14 -19 0
7 -1 0
-7 1 0
8 -2 0
-8 2 0
9 -3 0
-9 3 0
10 -4 0
-10 4 0
12 -6 0
-12 6 0
13 -7 0
-13 7 0
14 -8 0
-14 8 0
15 -9 0
-15 9 0
17 -11 0
-17 11 0
18 -12 0
-18 12 0
19 -13 0
-19 13 0
20 -14 0
-20 14 0
5 0
-10 0
15 0
-20 0
















